{% extends 'a101.html' %}



{% block a101 %}
<h1>A101 4 Şubat Cumartesi:</h1>
<div class="sn-content">       
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/02/03/a7c30204-ceb5-4d97-9242-8e7fa352080b.jpg " alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/02/03/20358915-9a0c-4bc3-8553-4ceaaff65eb0.jpg" alt="Second slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon btn-lg" style="inline-size: 100px; block-size: 100px;"" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon btn-lg" style="inline-size: 100px; block-size: 100px;"" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
{% endblock a101 %}
    

    
    {% block silik %}
        
    {% endblock silik %}
        