{% extends 'a101.html' %}



{% block a101 %}      
<div class="sn-content">

    <h1>A101 9 Mart Perşembe:</h1>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/30662183-3309-49f0-bb0e-18edbe4c1120.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/65cc9ba8-38e5-490a-ad41-5fc02e0ad71a.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/a317fc49-3d7a-4825-8b80-e21a5c0db273.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/3d9a50c8-492d-4395-a394-95bd68883e82.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/8d3d73b5-5a9c-4520-ae98-950e887220e7.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/30059a10-8374-400b-9b56-446598a61254.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/7dd18082-2800-42f5-b8d0-5e1d240ab137.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/b299687f-8a5a-4034-af7e-d14e0314389d.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/6ecc85b9-a138-499b-9fde-f6a550fb2dc7.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/4ab74af0-98ac-4a3d-86b3-fe4306cedf83.jpg" alt="Third slide">
          </div>   
          <div class="carousel-item">
            <img class="d-block w-100" src="https://ayb.akinoncdn.com/cms/2023/03/03/24aee2b1-68e2-4fb3-9a7b-a5dcc04c9a58.jpg" alt="Third slide">
          </div>  
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon btn-lg" style="inline-size: 100px; block-size: 100px;"" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon btn-lg" style="inline-size: 100px; block-size: 100px;"" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      
{% endblock a101 %}
    

    
    {% block silik %}
        
    {% endblock silik %}
        