{% extends "layout.html" %}
{% load static %}



{% block active %}
<a href="/" class="nav-item nav-link">Ana Sayfa</a>
<div class="nav-item dropdown">
  <a href="/bim" class="nav-link active">BİM</a>
</div>
<a href="/a101" class="nav-item nav-link">A101</a>
<a href="/sok" class="nav-item nav-link ">ŞOK</a>
<a href="/migros" class="nav-item nav-link">MİGROS</a>
<a href="/iletisim" class="nav-item nav-link">İletişim</a>
{% endblock active %}
    


{% block sayfabası %}
    

    
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">BİM Aktüel</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                <img src="{% static 'img/unnamed.jpg' %}" width="100" height="500"/>
                            </div>

                            
                            {% block silikbim %}
                         
                            <div class="sn-content">
                                <h1 class="sn-title">Bim Aktüel</h1>
                                <p>
                                    BİM son zamanlarda çok yükselen bir zincir marketdir.
                                </p>
                                <p>
                                    Açılımı ise Birleşik İslam Marketleri <strong>değildir.</strong>
                                    </p>
                                <p>
                                    <strong>Açılımı Birleşik Mağazalardır.</strong>
                                    1995 yılında hizmete başlamıştır.
                                    </p>
                                    <br><br>
                                    <h1>Tüm BİM Aktüeller:</h1>
                            
                            {% endblock silikbim %}

                                    
                                    {% block bim %}
                                        
                                    
                                        
                                    <br>

                                    <h2><a href="/bim-31ocak">31 Ocak Salı:</a></h2>

                                    <br>

                                    <h2><a href="/bim-3subat">3 Şubat Cuma:</a></h2>

                                    <br>
                                    
                                    <h2><a href="/bim-7subat">7 Şubat Salı:</a></h2>

                                    <br>
                                    
                                    <h2><a href="/bim-10subat">10 Şubat Cuma:</a></h2>

                                    <br>
                                    
                                    <h2><a href="/bim-14subat">14 Şubat Salı:</a></h2>

                                    <br>
                                    
                                    <h2><a href="/bim-17subat">17 Şubat Cuma:</a></h2>

                                    <br>
                                    
                                    <h2><a href="/bim-21subat">21 Şubat Salı:</a></h2>

                                    <br>
                                    
                                    <h2><a href="/bim-24subat">24 Şubat Cuma:</a></h2>
                                    
                                    <br>
                                    
                                    <h2><a href="/bim-24subat">28 Şubat Salı:</a></h2>

                                    
                                    <br>
                                    
                                    <h2><a href="/bim-24subat">3 Mart Cuma:</a></h2>
                                    
                                    <br>
                                    
                                    <h2><a href="/bim-24subat">7 Mart Salı:</a></h2>
                                    
                                    <br>
                                    
                                    <h2><a href="/bim-24subat">10 Mart Cuma:</a></h2>

                                    
                                    <br>
                                    
                                    <h2><a href="/bim-24subat">14 Mart Salı:</a></h2>
                                    {% endblock bim %}

                            </div>
                        </div>
                        <div class="sn-related">
                            <h2>İlgili Aktüeller</h2>
                            <div class="row sn-slider">
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/unnamed.jpg' %}" />
                                        <div class="sn-title">
                                            <a href="/bim-3mart">BİM 3 Mart Cuma</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/unnamed.jpg' %}" />
                                        <div class="sn-title">
                                            <a href="/bim-7mart">BİM 7 Mart Salı</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/unnamed.jpg' %}" />
                                        <div class="sn-title">
                                            <a href="/bim-10mart">BİM 10 Mart Cuma</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/unnamed.jpg' %}" />
                                        <div class="sn-title">
                                            <a href="/bim-14mart">BİM 14 Mart Salı</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2 class="sw-title">Daha Çok BİM Aktüel</h2>
                                <div class="news-list">
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/unnamed.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href="/bim-28subat">BİM 28 Şubat Salı</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/unnamed.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href="/bim-3mart">BİM 3 Mart Cuma</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/unnamed.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href="/bim-7mart">BİM 7 Mart Salı</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/unnamed.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href="/bim-10mart">BİM 10 Mart Cuma</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/unnamed.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href="/bim-14mart">BİM 14 Mart Salı</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


{% endblock sayfabası %}