{% extends "layout.html" %}
{% load static %}



{% block active %}
<a href="/" class="nav-item nav-link">Ana Sayfa</a>
<div class="nav-item dropdown">
  <a href="/bim" class="nav-link">BİM</a>
</div>
<a href="/a101" class="nav-item nav-link">A101</a>
<a href="/sok" class="nav-item nav-link">ŞOK</a>
<a href="/migros" class="nav-item nav-link active">MİGROS</a>
<a href="/iletisim" class="nav-item nav-link">İletişim</a>
{% endblock active %}
    


{% block sayfabası %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Migros Aktüel</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                <img src="{% static 'img/migros.jpg' %}", width="80", height="600">
                            </div>
                            {% block silikmigros %}
                              
                            
                            <div class="sn-content">
                                <h1 class="sn-title">Migros Aktüel</h1>
                                <p>
                                    İlk başta <strong>İsviçre'de</strong> açılan Migros <strong>1954</strong> yılında İstanbul Belediyesi ile yapılan anlaşmada Türkiye'de açılmıştır.
                                </p>

                                {% endblock silikmigros %}
                                    {% block migros %}
                                      
                                    

                                    <h1>Tüm Migroskoplar:</h1>
                                    <h1><a href = "/migros-19ocak">Migroskop 19 Ocak - 1 Şubat</a></h1>
                                    <br>
                                    <h1><a href = "/migros-2subat">Migroskop 2-15 Şubat</a></h1>
                                    <br>
                                    <h1><a href = "/migros-16subat">Migroskop 16 Şubat - 1 Mart</a></h1>
                                    <br>
                                    <h1><a href = "/migros-2mart">Migroskop 2 Mart- 15 Mart</a></h1>

                                    {% endblock migros %}
                            </div>
                        </div>
                        <div class="sn-related">
                            <h2>İlgili Aktüeller</h2>
                            <div class="row sn-slider">
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/migros.jpg' %}" />
                                        <div class="sn-title">
                                            <a href="/migros-19ocak">Migroskop 19 Ocak - 1 Şubat</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/migros.jpg' %}" />
                                        <div class="sn-title">
                                            <a href = "/migros-2subat">Migroskop 2-15 Şubat</a>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/migros.jpg' %}" />
                                        <div class="sn-title">
                                            <a href="/migros-16subat">Migroskop 16 Şubat - 1 Mart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{% static 'img/migros.jpg' %}" />
                                        <div class="sn-title">
                                            <a href="/migros-2mart">Migroskop 2 Mart - 15 Mart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                



                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2 class="sw-title">Daha Çok Migros Aktüel</h2>
                                <div class="news-list">
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/migros.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href="/migros-19ocak">Migroskop 19 Ocak - 1 Şubat</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/migros.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href = "/migros-2subat">Migroskop 2-15 Şubat</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/migros.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href = "/migros-16subat">Migroskop 16 Şubat - 1 Mart</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{% static 'img/migros.jpg' %}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href = "/migros-2mart">Migroskop 2 Mart - 15 Mart</a>
                                        </div>
                                    </div>


                                   


{% endblock sayfabası %}